{% extends "aa_all.html" %}

{% block title %}Homework{% endblock title %}
{% block color %}mediumseagreen{% endblock color %}


{% block theads %}
<th>Name</th>
<th>Due Date</th>
<th>Subject</th>
<th>Status</th>
{% endblock theads %}


{% block tbody %}
{% for homework in all_homework %}
    <tr>
        {% if homework != "BREAK" %}
            <td>
                <a class="pl-2" href="{% url 'SchoolPlanners:homework' homework.id %}">{{ homework.title }}</a>
            </td>
            <td> {{ homework.due_date|date:"D j M,  g:i A" }} </td>
            <td> {{ homework.subject }} </td>
            <td>
                {% if homework.completed %}
                    <div class="badge badge-outline-success" style="width: 100px">Completed</div>
                {% else %}
                    <div class="badge badge-outline-danger" style="width: 100px">Incomplete</div>
                {% endif %}
            </td>
        {% else %}
            <td><h5>Older Homework</h5></td>
            <td></td>
            <td></td>
            <td></td>
        {% endif %}
    </tr>
{% empty %}
    <tr>
        <td>No upcoming Homework!</td>
    </tr>
{% endfor %}
{% endblock tbody %}