{% extends "aa_base.html" %}
{% load bootstrap4 %}

{% block title %}{{ assessment.title }}{% endblock title %}

{% block content %}
<h2 style="color: coral;">{{ assessment.title }}</h2>
<br>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'SchoolPlanners:assessment' assessment.id %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button name="submit" class="btn btn-success mr-2">Save</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                            <a class="dropdown-item btn-inverse-danger mr-2" href="{% url 'SchoolPlanners:delete_assessment' assessment.id %}">Yes, I'm Sure</a>
                        </div>
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Delete </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <div class="table-responsive table-bordered table-hover">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Completed</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for subtask in subtasks %}
                                    <tr>
                                        <td>
                                            <a class="pl-2" href="{% url 'SchoolPlanners:subtask' subtask.id %}">{{ subtask.name }}</a>
                                        </td>
                                        <td>
                                            {% if subtask.completed %}
                                                <div class="badge badge-outline-success" style="width: 100px"> Completed </div>
                                            {% else %}
                                                <div class="badge badge-outline-danger" style="width: 100px"> Incomplete </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% empty %}
                                <tr><th>No subtasks yet!</th></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <a class="btn btn-success mr-2" href="{% url 'SchoolPlanners:new_subtask' assessment.id %}">+ Create</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}